<section>
    <div class="row">
        <div class="profile">
            <div class="profile-img-container">
                <img class="img-profile" src="https://cdn.icon-icons.com/icons2/2859/PNG/512/avatar_face_man_boy_male_profile_smiley_happy_people_icon_181657.png">
            </div>
            <div class="profile-text-container">
                <h2 class="name-user"> Nome de usuario </h2><br>
                    <p class=" bio" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempora quaerat, iste quo omnis necessitatibus, exercitationem error laudantium voluptatibus, adipisci harum suscipit tempore. Totam aut eum ratione quod molestiae voluptate?</p>
               
                <a href="#" class="btn btn-primary">Editar</a>
            </div>

        </div>
        <hr size="3" width="100%" color="#EEEEEE" style="margin-top: 1%;">
        

        <div class="tab-content feed-photos" id="myTabContent">
            <div class="tab-pane fade show active" >
                <div class="row feed-cards">
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                </div>
                

                <div class="row feed-cards">
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a href="#"><img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                </div>

                

                

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
        </div>














    </div>



</section>