
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn{
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    text-decoration: none;
    border-radius: 30px;
    padding: 0px 10px;
    cursor: pointer;
    color: white;
    font-size: 1.5em;

}

.close-btn:hover{
    background-color: var(--color-main-lighter);
    border: 1px solid var(--color-main-lighter);
}


.btn-style{
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-style:hover{
    background-color: var(--color-main-lighter);
    border: 1px solid var(--color-main-lighter);
}