<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a href="/app-home" class="navbar-brand mb-0 h1">
      <img class="d-inline-block align-top brand" src="https://cdn-icons-png.flaticon.com/512/45/45582.png" width="30"
        height="30"/>
      MyFood
    </a>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-items">
        <li class="nav-item active">
          <a href="#" class="nav-link nav-text">About us</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link nav-text">Creation</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link nav-text">Categories</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link nav-text">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="body-inicial">
  <router-outlet></router-outlet>
</div>


<footer class="text-center text-lg-start bg-light text-muted">
  <section class="footer-container">
    <div class="container text-center text-md-start">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h4 class="text-uppercase fw-bold mb-4 title-footer">
            <img class="d-inline-block align-top" src="https://cdn-icons-png.flaticon.com/512/45/45582.png" width="30"
              height="30" class="brand brand-title"/>MyFood
          </h4>
          <p>
            Here you can learn about different recipes and recreate them in your own way.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h4 class="text-uppercase fw-bold mb-4 title-footer">
            Category
          </h4>
          <p>
            <a href="#" class="text-reset">Fast</a>
          </p>
          <p>
            <a href="#" class="text-reset">Vegetarian</a>
          </p>
          <p>
            <a href="#" class="text-reset">Light</a>
          </p>
          <p>
            <a href="#" class="text-reset">Latest express recipes</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h4 class="text-uppercase fw-bold mb-4 title-footer">
            Menu
          </h4>
          <p>
            <a href="#!" class="text-reset">About us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Creation</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Categories</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contact</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h4 class="text-uppercase fw-bold mb-4 title-footer">
            Contact
          </h4>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-house-door-fill icon" viewBox="0 0 16 16">
              <path
                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
            </svg>New York, NY 10012, US</p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-envelope-fill icon" viewBox="0 0 16 16">
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>contact@myrecipe.com
          </p>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-telephone-fill icon" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg>+ 01 234 567 88</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4">
    Development by
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/vinicius-pimentel-06a9a520b/"
      target="_blank">Vinicius Pimentel</a>
  </div>
</footer>