@media (max-width: 767px) {
    #body-inicial{
        width: 100%;
        margin: 50px auto;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    #body-inicial{
        width: 90%;
        margin: 100px auto;
    }
}

@media (min-width: 1025px){
    #body-inicial{
        width: 70%;
        margin: 100px auto;
    }
}

.navbar{
    background-color: var(--color-main);
}

.nav-items{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-toggler, .navbar-toggler-icon{
    color: white;
}

.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}

.nav-text{
    color: white !important;
    border-bottom: var(--color-main) solid 2px;
}

.nav-text:hover{
    border-bottom: white solid 2px;
}

.navbar-brand{
    color: white;
    padding: 15px 0;
    font-size: 1.6em;
}

.footer-container{
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 40px 0;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.brand{
    margin-right: 5px;
    color: var(--color-secondary) !important;
  
}

.title-footer{
    text-transform: capitalize !important;
}

.icon{
    margin-right: 10px;
}
