:root {
    --color-main:#ff6f00 ;
    --color-main-lighter :#ffa040;
    --color-main-darker :#c43e00 ;
    --color-bg-navbar :#F8F9FA ;
    --color-letters: #181819;
    --color-letters-disable: #4A4A4B;
  }