<main class="main-div">
    <section class="main-section-1">
        <div class="card">
            <div class="card-header">
                Fazer publicação
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="O que está cozinhando hoje?" aria-label="default input example">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deixe um comentário sobre a receita."></textarea>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <a href="#" class="btn btn-primary">Publicar</a>
            </div>
        </div>
    </section>
    <section class="main-section-2">
        <div class="card">
            <div class="card-header title-card">
                Lasanha à Bolonhesa
            </div>
            <img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.<br><span class="tags">#Lasanha #Sabor #delicias #comida</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header title-card">
                Lasanha à Bolonhesa
            </div>
            <img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.<br><span class="tags">#Lasanha #Sabor #delicias #comida</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header title-card">
                Lasanha à Bolonhesa
            </div>
            <img src="https://www.sabornamesa.com.br/media/k2/items/cache/13b5e0deaf19b06816d21e67ad4e211c_XL.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.<br><span class="tags">#Lasanha #Sabor #delicias #comida</span></p>
            </div>
        </div>
        
        
    </section>

</main>