<main class="main-div">
    <section class="main-section-1">
        <div class="card">
            <div class="card-header">
                Fazer publicação
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="O que está cozinhando hoje?"
                        aria-label="default input example">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Deixe um comentário sobre a receita."></textarea>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <a href="#" class="btn btn-primary">Publicar</a>
            </div>
        </div>
    </section>
    <section class="main-section-2">
        <div *ngIf="receita">
            <div class="card" *ngFor="let i of receita.meals">
                <div class="card-header title-card">{{ i.strMeal }}</div>
                <img [attr.src]="i.strMealThumb" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 style="text-align: center; font-weight: bold;">Modo de Preparo</h4>
                    <p class="card-text">{{ i.strInstructions }}</p>
                    <h4 style="text-align: center; font-weight: bold;">Ingredientes</h4>
                    <p class="card-text">{{ i.strIngredient1 }}</p> 
                    <p class="tags">{{ i.strTags }}</p>

                    <a href="#" class="btn btn-primary btn-center">Ver vídeo</a>
                </div>
            </div>
        </div>

    </section>

</main>