.main-div{
    display: flex;
}

.main-section-1{
    width: 35%;
}

.main-section-2{
    width: 60%;
}

.card{
    margin: 20px ;
}

.title-card{
    font-size: 1.1em;
    text-align: center;
}

.card-body input, textarea {
    margin-bottom: 20px;
}

.btn-primary{
    background-color: var(--color-main);
    border-color: var(--color-main);
    text-transform: uppercase;
}

.tags{
    color: rgb(16, 16, 128);
    font-weight: bold;
}